html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.tri {
    width: 33.33%;
    height: 100%;
    margin: 0;
    position: relative;
    float: left;
}

.bottom {
    width: 100%;
    height: 30%;
    background: #D0021B;
    clear: both;
    position: absolute;
    bottom: 0;
    background-image: url(second.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.first {
    background: #4A90E2;
}

.second {
    background: #50E3C2;
}

.third {
    background: #B8E986;
}