html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.nav {
    height: 20%;
    background: #444444;
}

.main {
    width: 70%;
    height: 100%;
    background: #EFEFEF;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.footer {
    width: 100%;
    height: 10%;
    background: #444444;
    position: absolute;
    clear: both;
    bottom: 0;
}